<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1040004299977-ps0hkjcutp20fjs4boh3get6ioi7cuts.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1040004299977-ps0hkjcutp20fjs4boh3get6ioi7cuts</string>
	<key>API_KEY</key>
	<string>AIzaSyCCtUH1zZCunFaB_PZEht5iUqypdzjWTaA</string>
	<key>GCM_SENDER_ID</key>
	<string>1040004299977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saleh99.pizzeriamenu</string>
	<key>PROJECT_ID</key>
	<string>rhino-s-pizzeria</string>
	<key>STORAGE_BUCKET</key>
	<string>rhino-s-pizzeria.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040004299977:ios:e73e3cf09eea5184dee118</string>
</dict>
</plist>